<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.mapper.LocMapper">
<resultMap type="loc" id="locResult">
		<result column="city_num" property="city_num"/>
		<result column="conti_name_kor" property="conti_name_kor"/>
		<result column="conti_name_eng" property="conti_name_eng"/>
		<result column="country_name_kor" property="country_name_kor"/>
		<result column="country_name_eng" property="country_name_eng"/>
		<result column="city_name_kor" property="city_name_kor"/>
		<result column="city_name_eng" property="city_name_eng"/>
		<result column="cnt" property="cnt"/>
		<result column="rank" property="rank"/>
</resultMap>
<resultMap type="loc" id="joins">
      <result column="id" property="id"/>
      <result column="num" property="num"/>
      <result column="user_id" property="user_id"/>
      <result column="sq_num" property="sq_num"/>
      <result column="city_num" property="city_num"/>
      <result column="conti_name_kor" property="conti_name_kor"/>
      <result column="conti_name_eng" property="conti_name_eng"/>
      <result column="country_name_kor" property="country_name_kor"/>
      <result column="country_name_eng" property="country_name_eng"/>
      <result column="city_name_kor" property="city_name_kor"/>
      <result column="city_name_eng" property="city_name_eng"/>
</resultMap>

	
	<select id="select" parameterType="java.lang.Integer" resultMap="locResult">
		SELECT * FROM WT_LOC WHERE city_num=#{obj}
	</select>
	<select id="selectall" resultType="loc">
		SELECT * FROM WT_LOC
	</select>
	<select id="selectprefrank" parameterType="java.lang.Integer" resultType="loc">
		<![CDATA[select * from wt_loc l inner join (select city_num, count(city_num) cnt, rank() over(order by count(city_num) desc, city_num) rank from wt_pref_loc inner join wt_loc using(city_num) group by city_num) c using (city_num) where rank <= #{obj} order by rank ]]>
	</select>
	<select id="selectprefconticnt" resultType="loc">
		<![CDATA[select conti_name_kor, conti_name_eng, count(conti_name_kor) cnt from (select p.num, p.city_num, l.conti_name_kor, l.conti_name_eng from wt_pref_loc p, wt_loc l where p.city_num=l.city_num) group by conti_name_kor, conti_name_eng ]]>
	</select>
	<select id="selectprefcitycnt" resultType="loc">
		<![CDATA[select conti_name_kor, count(conti_name_kor) rank, city_num, city_name_kor, count(city_num) cnt from (select p.num, p.city_num, l.city_name_kor, l.conti_name_kor from wt_pref_loc p, wt_loc l where p.city_num=l.city_num) group by conti_name_kor, city_num, city_name_kor ]]>
	</select>
	
	
	<insert id="insert" parameterType="loc">
		INSERT INTO wt_loc VALUES(#{city_num},#{conti_name_kor},#{conti_name_eng},#{country_name_kor},#{country_name_eng},#{city_name_kor},#{city_name_eng})
	</insert>
	<update id="update" parameterType="loc">
		UPDATE wt_loc SET conti_name_kor=#{conti_name_kor},conti_name_eng=#{conti_name_eng},country_name_kor=#{country_name_kor},country_name_eng=#{country_name_eng},city_name_kor=#{city_name_kor},city_name_eng=#{city_name_eng} WHERE city_num=#{city_num}
	</update>
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM wt_loc WHERE city_num=#{obj}
	</delete>
	<select id="joinloc" parameterType="String" resultMap="joins">
		<![CDATA[SELECT U.ID, P.NUM, L.* FROM WT_USER U, WT_PREF_LOC P, WT_LOC L WHERE (U.ID=P.USER_ID) AND (L.CITY_NUM=P.CITY_NUM)  AND U.ID=#{obj} ORDER BY P.NUM]]>
	</select>
	<select id="joinlikey" parameterType="String" resultMap="joins">
		<![CDATA[SELECT U.ID, K.SQ_NUM, L.* FROM WT_USER U, WT_LIKEY K, WT_LOC L WHERE (U.ID=K.USER_ID) AND (K.CITY_NUM=L.CITY_NUM) AND U.ID=#{obj} ORDER BY K.SQ_NUM]]>
	</select>
</mapper>






