<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.wt.vo.User" alias="user"/>
		<typeAlias type="com.wt.vo.Loc" alias="loc"/>
		<typeAlias type="com.wt.vo.ContiCountry" alias="contiCountry"/>
		<typeAlias type="com.wt.vo.Pref_Loc" alias="prefloc"/>
		<typeAlias type="com.wt.vo.Likey" alias="likey"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/config/usermapper.xml"/>
		<mapper resource="com/config/locmapper.xml"/>
		<mapper resource="com/config/conticountrymapper.xml"/>
		<mapper resource="com/config/preflocmapper.xml"/>
		<mapper resource="com/config/likeymapper.xml"/>
	</mappers>
</configuration>






